# Build artifacts
*.py[cod]

# ignore python cache
__pycache__/

# ignore images
tests/cam/img/*
# ...but keep the folder
!tests/cam/img/.gitkeep

# ignore experimentation folder
foo/

# ignore dat and img files of the linearity test
supporting-scripts/linearity-test/dat/*
supporting-scripts/linearity-test/img/*
# ...but keep the folders
!supporting-scripts/linearity-test/dat/.gitkeep
!supporting-scripts/linearity-test/img/.gitkeep
